html {
    scroll-behavior: smooth;
}

.main::-webkit-scrollbar {
    display: none;
  }

  .example {
    scrollbar-width: none;  /* Firefox */
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-family: Mallanna;
}

body {
    padding-top: 100px;
    padding-bottom: 50px; 
}



.main {
    display: flex;
    flex-direction: column;
    background-color:#428262;
    align-items: center;
    flex: 1;
    height: 83vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Header Styles */

.header, .footer {
    display: flex;
    background-color: #428262;
    /* opacity: 80%; */
    width: 100vw;
    position: fixed;
}

.header {
    display: flex;
    justify-content: center;
    box-shadow: 0 -5px 20px #2d5843;
    top: 0;
    height: 100px
}

.footer {
    bottom: 0;
    height: 50px;
    box-shadow: 0 0 20px#2d5843;
}


/*Styles for Logo */

.logo {
    height: 95px;
    width: 95px;
}

.logo img {
   object-fit: contain;
   height: 95px;
}

/* Styles for Nav bar */

.navigation {
    display: flex;
    height: inherit;
    gap: 50px;
}

.navigation a {
    font-size: 18px;
    color: #0A311E;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 20px;
}
 
/* styles for content */

.page {
    height: calc(100vh - 150px);
    width: 85vw;
    background-color:#e3f5ec;
   
}

.about {

}

.newMemorials {

}

.additionalInscriptions {
    
}

.contact {

}

